

body {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300px;
}

h1,h2,h3,h4 {
    font-weight: 900px;
}

.center {
    padding-right:calc(50vw - 525px) ;
    padding-left:calc(50vw - 525px) ;
}

.header {
    display: flex;
    background-image:url(../img/first_b.jpg) ;
    padding-top: 50px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;    
}

.header__title__block {
    display: block;
}

.header__title {
    display: flex;
    color:#fff;
    padding: 0px;
    margin: 0px;
    min-width: 250px;
}

.header__icons {
    width: 35px;
    height: 35px ;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-left: 655px;
}

.main {
    display: flex;
    background-image: url('../img/s_b.jpg');
    padding-bottom: 150px;
}

.article__main {
    color: #fff;
    margin: 0%;
    width: 633px;
    height: 400px;
    margin-top: 50px;
}

.article__li {
    font-weight: 200px;

}

.article__title {
    color: white;
    font-weight: 900;
    font-size: 30px;
    margin: 10px 0px 10px 0px;
}

.article__li {
    margin: 0px 15px 16px 0px;
}

.acticle__list {
    display: list-item;
    list-style: none;
    list-style-image: url(../img/rocket.png);
    padding: 0%;
    margin: 17px 0px 10px 30px;
}

.article__footer {
    margin-left: 10px;
}

.article__second__title {
    color: white;
    margin: 0%;
    font-size: 20px;
    margin: 0px 0px 40px 0px;
}

.my__photo {
    width: 400x;
    height: 400px;
    border-radius: 100%;
    margin-right: 12px;
    margin-top: 50px;
    
}

.article__item {
    display: flex;
    margin-top: 40px;

}

